.logo {
	display: inline-block;
	font-size: 3em;
	display: inline-block;
	padding: 0.3em 0.7em;
}

header {
	background: black;
	color: white;
	nav {
		display: inline-block;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			//Font size Fixes a weird bug
			font-size: 0;
			li {
				font-size: initial;
				display: inline-block;
				margin: 0;

				a {
					padding: 1em;
					transition: color 0.12s;
					color: #b4b4b4 !important;
					&:hover {
						color: white !important;
					}
				}
			}
		}
	}
}

.resetLink {
	color: white;
	text-decoration: none;
}

.navLink {
	@extend .resetLink;
}

/*.topPart {
}*/
