$margin: 35px;
.plugin {
	display: inline-table;
	margin-left: $margin;
	margin-top: $margin/2;
	margin-bottom: $margin/2;
	width: 300px;

	img {
		display: block;
		margin: auto;
		width: 100%;
	}

	h2 {
		font-weight: bold;
	}

	h2,
	h3 {
		font-size: 1.2rem;
	}

	background: white;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.07);

	.pluginPrice {
		font-style: italic;
		color: #555;
		font-size: 1.1rem;
	}


	
}

.pluginBottom {
	padding: 20px;

	* {
		margin: 8px;
	}

	button{
		a{
			color:white !important;
		}
	}
}
